* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.navbar {
    /* position: relative; */
    /* position: fixed; */
    display: flex;
    background-color: red;
    height: 60px;
    justify-content: flex-end;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.btn {
    float: right;
    margin-left: 0px;
    color: white;
    background-color: black;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px solid white;
}

.upgrade {
    color: aliceblue;
    background-color:black;
    border: white 2px solid ;
    margin-top: 10px;
    /* border: 2px solid black; */
    height: 20px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 20vw;
    justify-content: space-around;
}

.red {
    position: relative;
    height: 70px;
    background-color: red;
    z-index: -2;

}

.logo {
    position: absolute;
    margin-left: 46%;
    display: inline-block;
    justify-content: center;
}

.stickmen {
    height: 90px;
}

.outer {
    margin-top: -50px;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: blue;
    background-color: black;
    margin-left: -50px;
    z-index: -1;
}
.inner {
    margin-top: -45px;
    position: absolute;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    background-color: black;
    margin-left: -45px;
    z-index: -1;
    animation: glow 1s linear infinite alternate-reverse;
}

@keyframes glow {
    0%
    {
        box-shadow:1px 1px 100px rgba(0,0,0,0)
        
    }
    100%
    {
        box-shadow:1px 1px 100px rgba(200,0,0,0.9)
    }
    
}


/* .hr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr span{
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 700px;
    background-color: red;
    height: 1px;

} */

.like{
    color: red;
    font-size: 80px;
    margin-top: 180px;
    margin-left: 190px;
}

.play{
    position: absolute;
    margin-top: 190px;
    margin-left: 50px;
}

.songlist{
    /* border: 2px solid green; */
    margin-top: 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.songs{
    position: relative;
    margin-top: 20px;
    display: flex;
    border: 2px solid red;
    max-width: 800px;
    align-items: center;
    border-radius: 10px;
    /* justify-content: center; */

    /* display: grid; */
    /* grid-template-columns: 0.2fr 0.3fr 1fr; */
    /* grid-template-rows: 1fr 1fr; */
    /* height: 100px; */
    /* grid-column: 1 / span 2; */
    /* grid-column: 2 / span 2; */
    /* grid-row: 1 / span 2; */
}

.fafake{
    visibility: visible !important;
    /* color:red; */
}
.pfake{
    visibility: hidden;
}

.fa{
    /* position: relative; */
    /* position: absolute; */
    /* top: 10px; */
    display: flex;
    height:100%;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    visibility: hidden;
    /* visibility:hidden;     */
    /* justify-content: center;  */
    /* align-items: center; */
}

.Tnail{
    height: 60px;
    margin: 5px;
}

.Sname{
    color: white;
    line-height: 40px;
    margin-left: 50px;
    margin-top: -30px;
    font-weight: bold;
    font-size: 20px;
}

.Aname {
    position: absolute;
    margin-top: 30px;
    margin-left: 210px;

    color: white;
}

.no{
    position: absolute;
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
    margin-left:39px;
}

.playing{
    position: absolute;
    visibility:hidden;
}

.last{
    visibility: visible !important;
}

