.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.stickmen {
    height: 150px;
    transition: 0.1s;
}

.logo span {
    z-index: -1;
    position: absolute;
    background-color: black;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.try {
    z-index: -2;
    position: absolute;
    border: 2px solid black;
    height: 255px;
    width: 255px;
    border-radius: 50%;
}

.try::before {
    content: '';
    z-index: -2;
    position: absolute;
    border: 2px solid black;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent, #d400d4);
    margin-left: -2px;
    margin-top: -2px;
    animation: animate 2s linear infinite;
}

.try::after {
    content: '';
    z-index: -2;
    position: absolute;
    /* border: 2px solid blue; */
    border: 2px solid black;
    height: 255px;
    width: 255px;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent, #00ccff);
    margin-left: -2px;
    margin-top: -2px;
    animation: animate 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.stickmen:hover{
    transform: scale(1.2);

}

